{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {},
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2015,
    "requireConfigFile": false,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "plugins": ["react"],
  "extends": [
    // "eslint:recommended",
    "plugin:react/recommended"
    // "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off"
    // "indent": [
    //     "error",
    //     2
    // ],
    // "linebreak-style": [
    //     "error",
    //     "unix"
    // ],
    // "quotes": [
    //     "error",
    //     "double"
    // ],
    // "semi": [
    //     "error",
    //     "always"
    // ]
  }
}
